<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlibs Home Page</title>
    
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div>
        <h1>{{title}}</h1>
        <form action="/story">
        <label for="place">Place</label>
        <input type="text" name="place" placeholder="Enter place"><br>
        <label for="noun">Noun</label>
        <input type="text" name="noun" placeholder="Enter noun"><br>
        <label for="verb">Verb</label>
        <input type="text" name="verb" placeholder="Enter verb"><br>
        <label for="adjective">Adjective</label>
        <input type="text" name="adjective" placeholder="Enter adjective"><br>
        <label for="plural_noun">Plural Noun</label>
        <input type="text" name="plural_noun" placeholder="Enter plural noun"><br>



        <input type="submit" value="submit">
        </form>
    </div>
    
</body>
</html>